*body {
    font-family: sans-serif;    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

style {
    background-color: yellow;
    margin-top: 100px;
    font-family: sans-serif;
    margin-left: 10px;
    margin-right:10px;
}