body  {
  font-family: comic sans MS;
     background-color: Black;
     COLOR:     wHITE;
     margin-top: 75px;
    
  }
  
  .center {
      Text-align: Center;
  }
  
 P {
     
     font-family: Comic sans MS;
    margin-top: 100px;
     margin-left: 10px;
    margin-right:10px;
    
 }     