body {
  font-family: sans-serif;
     
     margin-top: 75px;
    
  }
  
  .center {
      Text-align: Center;
  }
  
 style {
     background-color: yellow;
     font-family: Comic sans MS;
    margin-top: 100px;
     margin-left: 10px;
    margin-right:10px;
    
 }     